.container {
    color: #f3f3f3;
	margin: 15% auto;
	width: 20%;
    height: 150px;
    border-radius: 10px;
    border: 1px ridge black;
    padding: 20px;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.infos{
    margin-top: 10px;
    text-align: center;
    color: black;
    width: 100%;
    background-color: #f3f3f3;
    height: 20px;
    background-color: lightgreen;
    border: red solid 1px;
}

.infos_none{
    margin-top: 10px;
    text-align: center;
    color: black;
    width: 100%;
    background-color: #f3f3f3;
    height: 20px;
    background-color: rgb(222, 144, 138);
    border: red solid 1px;
}